@model CMS.Entities.ServerObjects.MenuCategory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MenuCategory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentMenuCategory.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentMenuCategory.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IconImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IconImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsShowHome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsShowHome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        
         @Html.ActionLink("Delete", "Delete")|
       @* <input type="submit" value="Delete" /> |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
}
