@model CMS.Entities.ServerObjects.MenuCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MenuCategory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentMenuCategory.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentMenuCategory.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IconImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IconImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsShowHome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsShowHome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GuidId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
