
@model CMS.WebMVC.ChangePasswordModel

@{
   // Layout = null;
        //ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Use the form below to change your password. 
</p>
<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                 @Html.LabelFor(model => model.OldPassword)
                @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>

            <div class="editor-field">
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Change Password" />
            </p>
        </fieldset>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}