@using CMS.WebMVC;
@model CMS.Entities.ServerObjects.Users

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Users</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.Alias)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Alias)
            @Html.ValidationMessageFor(model => model.Alias)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobileUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileUser)
            @Html.ValidationMessageFor(model => model.MobileUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSystem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSystem)
            @Html.ValidationMessageFor(model => model.IsSystem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImagePath)
        </div>
        <div class="editor-field" >
            @Html.EditImageFor(model => model.ImagePath, "Avartar", "Avartar")
            @Html.ValidationMessageFor(model => model.ImagePath)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsApproved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsApproved)
            @Html.ValidationMessageFor(model => model.IsApproved)
        </div>


        @Html.HiddenFor(model => model.GuidId)
        @Html.HiddenFor(model => model.EntityId)
        @Html.HiddenFor(model => model.VersionNumber)
        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.ModifyDate)
        @Html.HiddenFor(model => model.Deleted)
        @Html.HiddenFor(model => model.ModifyBy)
        @Html.HiddenFor(model => model.CreateBy)

        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.LastActivityDate)
        @Html.HiddenFor(model => model.IsLockedOut)
        @Html.HiddenFor(model => model.LastLockoutDate)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.LastLoginDate)
        @Html.HiddenFor(model => model.LastPasswordChangedDate)
        @Html.HiddenFor(model => model.LastPasswordFailureDate)
        @Html.HiddenFor(model => model.PasswordFailuresSinceLastSuccess)
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-previewimage.js")" type="text/javascript"></script>
